---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
---

<BaseLayout pageTitle="Blog">
        <h2>My learning joruney</h2>

        <p>I will post updates here as I get involved more and more into Astro learning.</p>
        
		<ul>
			{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}></BlogPost>)}
		</ul>

</BaseLayout>
